ProductClient/Connected Services/NorthwindService/NorthwindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="NorthwindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ProductService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProductData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductData" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetProductData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductDataResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_UpdateProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProducts" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_UpdateProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetProducts" message="tns:INorthwindService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetProductsResponse" message="tns:INorthwindService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductData">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetProductData" message="tns:INorthwindService_GetProductData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetProductDataResponse" message="tns:INorthwindService_GetProductData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/UpdateProducts" message="tns:INorthwindService_UpdateProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/UpdateProductsResponse" message="tns:INorthwindService_UpdateProducts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INorthwindService" type="tns:INorthwindService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductData">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetProductData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProducts">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/UpdateProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthwindService">
    <wsdl:port name="BasicHttpBinding_INorthwindService" binding="tns:BasicHttpBinding_INorthwindService">
      <soap:address location="http://localhost:8733/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>